<p>Je kan in één if blok meer dan één stukje code controleren. Je hebt <code>&amp;&amp;</code> wat EN betekent. Dit is net hetzelfde zoals het en-blokje in scratch. Dit wil zeggen dat zowal hetgene links als rechts van <code>&amp;&amp;</code> waar moet zijn.</p>
<ul>
    <li><code>10 &gt; 5 &amp;&amp; 5 &gt; 3</code>  <code class="returns">true</code>
    </li>
    <li><code>10 &lt; 5 &amp;&amp; 5 &gt; 3</code>  <code class="returns">false</code>
    </li>
    <li><code>10 &gt; 5 &amp;&amp; 5 &lt; 3</code>  <code class="returns">false</code>
    </li>
    <li><code>10 &lt; 5 &amp;&amp; 5 &lt; 3</code>  <code class="returns">false</code>
    </li>
</ul>