<p>Je kan in één if blok meer dan één stukje code controleren. Je hebt <code>||</code> wat OF betekent. Dit is net hetzelfde zoals het of-blokje in scratch. Dit wil zeggen dat wat rechts of links waar moet zijn om waar te zijn.</p>
<ul>
    <li><code>10 &gt; 5 || 5 &gt; 3</code>  <code class="returns">true</code>
    </li>
    <li><code>10 &lt; 5 || 5 &gt; 3</code>  <code class="returns">true</code>
    </li>
    <li><code>10 &lt; 5 || 5 &gt; 3</code>  <code class="returns">true</code>
    </li>
    <li><code>10 &lt; 5 || 5 &lt; 3</code>  <code class="returns">false</code>
    </li>
</ul>