<p>Om te kijken of twee objecten gelijk zijn gebruiken we <code>===</code>, om te kijken of twee objecten niet gelijk zijn gebruiken we <code>!==</code>.</p>
<ul>
    <li>
        <code>2 === 5</code>  <code class="returns">false</code>
    </li>
    <li>
        <code>8 === 5 + 3</code>  <code class="returns">true</code>
    </li>
    <li>
        <code>2 * 2 !== 4</code>  <code class="returns">false</code>
    </li>
    <li>
        <code>2 + 1 !== 2</code>  <code class="returns">true</code>
    </li>
</ul>