<p>We hebben ondertussen al met tekst en getallen gewerkt en je weet wat een boolean is. Nu moeten we de computer dingen doen onthouden. Dit kunnen we doen met een variabele. Als we een stukje tekst in een variabele steken kunnen we later de tekst terug gebruiken via de variabele.</p>
<p>In javascript gebruiken we <code>var</code> om aan te geven dat we een variabele maken.</p>
<ul>
	<li>
		<code>var naam = 'Glenn';</code>
	</li>
	<li>
		<code>var leeftijd = 25;</code>
	</li>
	<li>
		<code>var isCool = true;</code>
	</li>
</ul>