<div class="toolbar">
	<h1>CoderDojo</h1>
	<a href="index.html">&larr; Terug naar startscherm</a>
</div>

<div class="center">
	<section>
		<h3>Variabelen</h3>
		<p>var getal = 45;</p>
		<p>var tekst = 'Tekst Hier';</p>
	</section>
	
	<section>
		<h3>Commentaar</h3>
		<p>// Ik ben commentaar</p>
		<p>/* Ik ben commentaar */</p>
	</section>
	
	<section>
		<h3>Als dan</h3>
		<p>if ( x &gt; 10 ) {<br/>
			<span class="tab">// Groter dan 10</span><br/>
			} else if ( x &gt; 5 ) {<br/>
			<span class="tab">// Groter dan 5</span><br/>
			} else {<br/>
			<span class="tab">// Kleiner of gelijk aan 5</span><br/>
			}</p>
	</section>
	
	<section>
		<h3>While</h3>
		<p>var x = 0;<br/>
			while( x &lt; 10 ) {<br/>
			<span class="tab">// Doe iets 10 keer</span><br/>
			<span class="tab">++x;</span><br/>
			}</p>
	</section>
	
	<section>
		<h3>For</h3>
		<p>for( x = 0; x &lt; 10; ++x ) {<br/>
				<span class="tab">// Doe iets 10 keer</span><br/>
			}</p>
	</section>
	
	<section>
		<h3>Functies</h3>
		<p>function mijnNaam() {<br/>
			<span class="tab">// Doe iets</span><br/>
			}<br/>
			<br/>
			mijnNaam();
		</p>
		<p>
			function mijnNaam() {<br/>
			<span class="tab">return 'mijnNaam';</span><br/>
			}
		</p>
		<p>
			function maalTwee(getal) {<br/>
			<span class="tab">return getal * 2;</span><br/>
			}
		</p>
	</section>
</div>